/*Спасибо за проверку и развернутые ответы! Помогли более детально разобраться с отсупами!*/




.main-font {
  font-size: 20px;
}

.no-decoration {
  text-decoration: none;
}

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 135%;
}

.nav {
  font-size: 18px;
}

.title-section {
  font-size: 40px;
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 3.5px;
}

.circle {
  list-style-type: circle;
}

.no-bullit {
  list-style-type: none;
}

.aligned_center {
  display: flex;
  justify-content: center;
}

/* В блоке правил выше указаны повторяющиеся стили (Не совсем понял как правильно это делать с точки зрения кодстайла, буду рад внести правки) */

/* Блок шапки */
header {
  display: grid;
  grid-template-columns: 1fr 148px 1fr;
  padding: 92px 50px 90px 50px;
}

.nav-header {
  display: flex;
  align-items: center;
}

.nav-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 33.5px;
  margin-bottom: 6px;
}

.header-address {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  margin-right: 35px;
  margin-bottom: 4px;
  line-height: 135%;
}

.logo-header {
  width: 148px;
  height: 105px;
}

/* Блок main */

/* 1 раздел */

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0/0.6);
}

.cover {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-size: cover;
  padding: 165px 50px 50px 50px;
  color: white;
}

.cover__title {
  position: relative;
  letter-spacing: 0.3em;
  line-height: 128%;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  margin-top: 2px;
  margin-left: 30px;
}

.aligned-text_right {
  position: relative;
  text-align: right;
  margin-top: 5px;
  margin-right: -30px;
}

.description {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 200px;
}

.cover-text_bottom {
  position: relative;
  white-space: nowrap;
  padding-top: 105px;
  word-spacing: 0.85em;
  line-height: 127%;
  font-size: 22px;
  text-transform: uppercase;
}

.button {
  position: relative;
  white-space: nowrap;
  margin-top: 100px;
  margin-left: -94px;
  padding: 12px 32px;
  font-size: 22px;
  color: white;
  text-transform: uppercase;
  border: 1px solid white;
  background-color: transparent;
}

/*2 раздел */

.lots {
  padding-top: 176px;
  padding-left: 24px;
  padding-right: 24px;
  color: black;
}

.title-lots {
  padding-left: 40px;
  padding-top: 4px;
}

.card-lots {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  justify-content: space-between;
  color: white;
  min-height: 622px;
}

.card {
  display: grid;
  position: relative;
  margin-top: 28px;
}

.lots-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-size: cover;
}

.lots-card_left {
  display: flex;
  flex-direction: column;
}

.card-text_link_left {
  width: 254px;
}

.card-text_link {
  position: relative;
  margin-top: 48px;
  margin-left: 40px;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.card-text_main {
  width: 254px;
}

.card-text_main_left {
  position: relative;
  margin-top: 278px;
  margin-left: 40px;
}

.poul_thomas {
  /*Не садился шрифт, пришлось добавить через <span>*/
  position: relative;
  margin-left: -2px;
}

.lots-card_left_background {
  background-image: url(../images/card-lot-01.jpg);
}

.lots-card_center {
  display: flex;
  flex-direction: column;
}

.card-text_link_center {
  width: 254px;
}

.card-text_main_center {
  position: relative;
  margin-top: 36px;
  margin-left: 40px;
}

.lots-card_center_background {
  background-image: url(../images/card-lot-02.jpg);
}

.lots-card_right {
  display: flex;
  flex-direction: column;
}

.card-text_link_right {
  width: 254px;
}

.card-text_main_right {
  position: relative;
  margin-top: 132px;
  margin-left: 40px;
}

.one-of {
  /*Тоже самое что и с шрифтом первого лота*/
  position: relative;
  margin-left: -2px;
}

.lots-card_right_background {
  background-image: url(../images/card-lot-03.jpg);
}

.more {
  position: absolute;
  margin-top: 30px;
  margin-left: 40px;
  color: black;
}

/* 3 раздел */

.about {
  display: grid;
  grid-template-columns: 359px 693px;
  grid-template-rows: auto;
  padding-top: 160px;
  padding-left: 24px;
  padding-right: 24px;
}

.logo-about {
  position: relative;
  top: 64px;
  left: 46px;
  width: 148px;
  height: 114px;
}

.ellipse {
  position: relative;
  margin-top: 50px;
  margin-left: 48px;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: black;
}

.title-about {
  margin-top: 150px;
}

.about-text_top {
  position: relative;
  margin-top: 100px;
  width: 688px;
}

.about-text_bottom {
  position: relative;
  margin-top: 25px;
  width: 693px;
}

/* Блок подвала */

footer {
  display: grid;
  justify-content: space-between;
  justify-items: center;
  align-items: start;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 180px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 180px;
}

.nav-footer {
  margin-left: 82px;
}

.social {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 148px;
  gap: 48px;
}

.social-img {
  width: 48px;
  height: 48px;
}